.formList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .formCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .formCard a {
    font-size: 1.2rem;
  }
  
  .createButton {
    align-self: flex-end;
  }

  .actions{
    display: flex;
    gap: 10px;
  }
  
  @media (max-width: 768px) {
    .formList {
      gap: 10px;
    }
  
    .formCard {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .createButton {
      align-self: center;
    }
  }
  